<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo de Contacto</title>
</head>

<body>
    <div style="@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,700|Open+Sans:300,400,500,600,700);
    font-family: 'Poppins', sans-serif;">
        <table style="margin:0 auto;">
            <tbody>
                <tr style="text-align: center;">
                    <td>
                        <a href="https://ecovitali.com/"><img src="https://i.ibb.co/d55sT95/Logo-Ecovitali-Blanco.png" style="width: 60%;"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="margin:0 auto; width: 60%;">
            <tbody>
                <tr>
                    <td>
                        <p style="font-size: 15px;">¡Hola, <span style="font-weight: 600;">Operador</span>!</p>
                        <p style="font-size: 15px;">
                            Un cliente ha ingresado sus datos desde nuestra web. <br> Aquí están los detalles,
                            contáctalo lo antes posible!!
                        </p>
                        <p style="font-size: 15px;">Nombre:<b> <%= nombre %></p>
                        <p style="font-size: 15px;">Tema a Consultar:<b> <%= tema %></p>
                        <p style="font-size: 15px;">Teléfono:<b> <%= telefono %></p>
                        <p style="font-size: 15px;">Correo Electrónico:<b> <%= email %></p>
                        <p style="font-size: 15px;">Mensaje:<b> <%= comentario %></p>
                        <br>
                        <br><p style="font-size: 15px;">Puedes contactarlo por correo electrónico o por WhatsApp haciendo click en el siguiente botón. 👇</p>
                        <div style="margin-top:10%;text-align: center; margin-bottom:30%;">
                            <a href="<%= enlaceWhatsApp %>" style="width: 20%;padding: 15px;background: #86AE51;color: #fff;border: 0; cursor:pointer;
                            border-radius: 6px; text-align: center; text-decoration: none;">Mensaje Directo de
                                WhatsApp</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>