<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Postulante Trabaja Con Nosotros</title>
    
</head>
<body>
    <h2>Nuevo Postulante Trabaja Con Nosotros</h2>
    <p>Nombre: <%= nombre %></p>
    <p>Ciudad: <%= ciudad %></p>
    <p>Teléfono: <%= telefono %></p>
    <p>Email: <%= email %></p>
    <p>Comentario: <%= comentario %></p>
    <p>División Seleccionada: <%= divisionSeleccionada %></p>
    <p>Adjunto encontrarás el currículum vitae: <a href="cid:cv"></p>

</body>
</html>
